* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
       
    
}



body{
    color: #cccadd;
    background: #05131e;

}



.julia{
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#juliaCanvas{
    border: 1px solid black;
    border-radius: 40px;
    box-shadow: 0 3px 7px rgba(125, 126, 154, 0.3);
}

.mandelbrot{
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#mandelbrotCanvas{
    border: 1px solid black;
    border-radius: 40px;
    box-shadow: 0 3px 7px rgba(125, 126, 154, 0.3);
}

.burning_ship{
    margin: 15px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

#burning_shipCanvas{
    border: 1px solid black;
    border-radius: 40px;

}


#row{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    place-content: center;

}

h1 {
    margin-top: 20px;
    font-size: 30px;
    margin-bottom: 7px;
}


.title{
    margin-top: 70px;
    text-align: center;
    font-size: 35px;
    
}

.names{
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    margin-right: 2%;
    
}

label {
    display: flex;
    font-size: 18px;
    margin-bottom: 2px;
    width: 315px;
}

input[type=range] {
    -webkit-appearance: none;
    background: #022844;
    height: 0.5rem;
    margin-left: auto;
    margin-top: 7px;
    accent-color: #df2c0c;
    border: 0.5px solid #044777;
    border-radius: 20px;
    cursor: pointer;
   
}

input[type=range]:hover {
    accent-color: #eb250a;
}


input[type=range]:active {
    accent-color: #f50101;
}


footer{
    display: flex;
    flex-direction: column;
}

#namesContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.blurred-circle {
    position: absolute;
    z-index: -1;
    top: -20px;
    left: -10px; 
    width: 40%; 
    height: 50%; 
    background-color: #051f36;
    border-radius: 9999px; 
  
    filter: blur(2.2rem); 
}

.blurred-circle2 {
    position: absolute;
    z-index: -1;
    margin-top: 250px;
    margin-left: 780px; 
    width: 48%; 
    height: 63%; 
    background-color: #04192b; 
    border-radius: 9999px; 
    filter: blur(2rem);
}

@media (width < 1024px) {
    #row{
        flex-direction: column;
    }
    .names{
        margin-top: 10%;
        margin-right: 0;
    }
    .blurred-circle{
        width: 90%;
    }
    .blurred-circle2{
        bottom: -1150px;
        right: 20px;
        width: 70%;
    }
}